//colors
$black: #000000;
$white: #ffffff;
$navy: #001155;
$blue: #11AAFF;
$red: #DD1122;
$horizon: #EEF3F6;
$alu: #DDE3E7;
$darkgrey: #333333;
$aqua: #0EABA9;
$azur:  #1781E3;
$iris: #5944C6;
$orchid: #A63297;
$pink: #E61E64;

//Font Sizes
$font-s: 0.875rem; // 14px
$font-m: 1.125rem; // 18px
$font-l: 1.5rem; // 24px
$font-xl: 1.75rem; // 24px